<div class="row mt-3">
  <div class="col-lg-6">
    <div class="input-group mb-3">
      <div class="input-group-text filterselect">
          <select [(ngModel)]="filterPhrase" class="form-control select ">
              <option value="">Choose...
                <i class="fa fa-sort-desc"></i>
              </option>
              <option *ngFor="let col of columns" [value]="col.key">
                  {{ col.title }}

              </option>
          </select>
      </div>
      <input [(ngModel)]="phrase" class="form-control" type="text">
  </div>
  </div>
</div>

<div class="row mb-5 mt-2">
  <div class="sorter">
    <div>
      <select class="sortingSelect col-12 col-sm-2" [(ngModel)]="sorterPhrase">
        <option value="">Sorting by ...</option>
        <option *ngFor="let col of columns" [value]="col.key">
          {{col.title}}
          <i class="fa fa-sort-desc"></i>
        </option>
      </select>
    </div>
  </div>
</div>

<div  class="row mt-3">
  <div *ngFor="let row of movieList$ |async
  |filter: phrase: filterPhrase
  |sorter: sorterPhrase"

  class= "col-12 col-md-6 col-lg-3 card" style="width: 18rem mx-auto;">
    <img [src]="row.poster" class="card-img-top" alt="..." height="350rem">
     <div class="card-body">
      <h5 class="card-title">{{row.title}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{row.genre}}</li>
      <li class="list-group-item">Year: {{row.releaseYear}}</li>
      <li class="list-group-item">Director: {{row.director}}</li>
      <li class="list-group-item">Studio: {{row.studio}}</li>
      <li class="list-group-item">Active: {{row.active}}</li>
    </ul>
    <div class="card-body">
      <a [routerLink]="['/movie/edit', row.id]" class="btn btn-primary mx-2">Edit
        <i class="fa fa-edit"></i>
    </a>
    <a (click)="onDelete(row)" class="btn btn-danger">Delete
      <i class="fa fa-trash"></i>
  </a>
    </div>
  </div>

</div>


 <!--    <div class="col-12">
      <div class="input-group mb-3">
        <input

          type="text"
          class="form-control"
          placeholder="Choose movie"
          aria-label="Choose movie"
          aria-describedby="button-addon2"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="button-addon2"
        >
          <i class="fa fa-save"></i>
        </button>
      </div>

      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th *ngFor="let col of columns">
              {{ col.title }}
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of movieList$ | async |filter: filterPhrase: 'director'">
            <td *ngFor="let col of columns">
              {{ row[col.key] }}
            </td>
            <td>
              <button class="btn btn-info">
                <i class="fa fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->





